#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#title {
    display: flex;
    align-items: center;
}

.logo {
    height: 45px;
    margin-right: 12px;
}