.card {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.titlecontainer {
    margin-top: 5px;
    border-bottom: rgba(255, 255, 255, 0.2) 1px solid;
    width: 95%;
}

.usercontainer {
    display: inline-block;
}

.commentsicon {
    font-size: 17px;
}

.timestamp {
    align-self: center;
}
