/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.background {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("./assets/img/background.png");
    background-attachment: fixed;
}

.clickable {
    cursor: pointer;
}

.card {
    margin: 2% auto 0 auto;
    width: 89%;
    max-width: 600px;
}

.input {
    width: 100%;
}

p {
    display: inline-block;
    white-space: pre;
    margin: 0 !important;
}

.timestamp {
    color: rgb(112, 112, 112);
}

.link {
    display: block;
    margin: 10px 0 10px 0;
    color: rgb(113, 175, 255);
}

.submissionfootercontainer {
    display: flex;
    justify-content: space-between;
    width: 95%;
}

.linkpreview {
    width: 100%;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.65);
}

.attentionicon {
    color: #1cb76a;
    position: absolute;
    left: 96.5%;
    top: -10px;
    font-size: 30px;
}

@media only screen and (max-width: 530px) {
    .attentionicon {
      left: 93%;
    }
}

.profilelink {
    text-decoration: underline;
}