<mat-card *ngIf="submission.currentUserApproved" class="card">
    <mat-icon class="checkmark attentionicon" color="green" matTooltip="You are approved to comment!" matTooltipClass="tooltipgreen">check_circle</mat-icon>
    <form [formGroup]="commentForm" (ngSubmit)="onCommentSubmit(commentForm.value)">
        <mat-form-field class="input" appearance="outline">
            <mat-label>New Comment</mat-label>
            <input matInput placeholder="New Comment" formControlName="content" [value]="commentContent">
            <mat-error>{{commentError}}</mat-error>
        </mat-form-field>
    </form>
</mat-card>